$white: #ffffff;
$blue: #7d8ccf;
$grey: #f3f4f6;
$black: #292929;
$green: #2ccc4e;

$chat_background: #f6f8fc;
$chat_background_light: #f2f5f9;
$message_background: #dee7fd;

$layout_border: #e8e7ec;
$layout_darkBorder: #cbd5e11a;

$input_border: #f6f7f7;
$light_border: #ececec;

$textgrey: #414141;
$textdark: #252d38;
$light_text: #697e92;

:root {
  --color-primary: #7753f8;
}
$textslate: #e2e8f0;
